branches/Sztek/Sztek/bin
branches/Sztek/Sztek/obj
branches/Sztek/Sztek/bin/Sztek.dll
branches/Sztek/Sztek/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
branches/Sztek/Sztek/obj/Debug/Sztek.pdb
branches/Sztek/Sztek/App_Data/aspnet-Sztek-20141214100457.mdf