@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<!--<section class="contact">
    <header>
        <h3>Phone</h3>
    </header>
    <p>
        <span class="label">Main:</span>
        <span>425.555.0100</span>
    </p>
    <p>
        <span class="label">After Hours:</span>
        <span>425.555.0199</span>
    </p>
</section>-->

<section class="contact">
    <header>
        <h3>Az oldal készítő</h3>
    </header>
    <p>
        <span class="label">Applet felelős:</span>
        <span>Laczkó Dóra</span>
    </p>
    <p>
        <span class="label">Játékmotor felelős:</span>
        <span>Tóth Boldizsár</span>
    </p>
    <p>
        <span class="label">Adatbázis felelős:</span>
        <span>Magasvári Ákos</span>

    </p>
    <p>
        <span class="label">Weboldal felelős:</span>
        <span>Szádvári Tamás</span>

    </p>
</section>

<!--<section class="contact">
    <header>
        <h3>Address</h3>
    </header>
    <p>
        One Microsoft Way<br />
        Redmond, WA 98052-6399
    </p>
</section>-->