@{
    ViewBag.Title = "Kezdőlap";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Több személyes tank játék Online felületen.
            </p>
            @ViewBag.Message
        </div>
    </section>
}
<h3>A játék használata:</h3>
<ol class="round">
    <li class="one">
        <h5>Regisztrálj</h5>
        Az első lépésként regisztrálj a weboldalra, hogy be tudj lépni és elérhesd az oldal összes szolgáltatását!
    </li>

    <li class="two">
        <h5>Lépj be</h5>
        Lépj be a weboldalra, és böngéssz. Elérhetővé válik a játék váróterme, a chat, a toplista és a saját személyes profilod.
    </li>

    <li class="three">
        <h5>Játssz!</h5>
        Bejelentkezett felhasználóként lehetőséged van másokkal egy izgalmas tankcsatában részt venni egymás ellen. Lássuk, hogy melyikőtök a legjobb!
    </li>
</ol>
